* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%
}


body {
    margin: 0;
    font-size: 150%;
    background-color: #1F2937;
}

h1 {
    color: #9CA3AF;
    margin-left: 4.5%;
    margin-bottom: 1%;
}

span {
     color: #BE123C;
}

p {
    color: #6B7280;
    margin-left: 5%;
    margin-top: 0;
}

button {
    margin-left: 5%;
    padding: 1.5% 2%;
    font-weight: bold;
    background-color: #BE123C;
    border: 0;
    border-radius: 2px;
    box-shadow: 3px 2px 1px 0px #6B7280;
    text-shadow: #E11D48 0 0 1px;
    margin-top: 2%;
}

body > div {
    
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 7.5%;
    text-align: center;
    margin-right: 5%;
    justify-content: space-evenly;
    border-radius: 4px;
    
}
#pass1-el {
    width: 49%;
    margin-right: 1%;
    background-color: #4B5563;
    padding: 2.5%;
    border-radius: inherit;
}
#pass2-el {
    width: 49%;
    margin-left: 1%;
    background-color: #4B5563;
    padding: 2.5%;
    border-radius: inherit;
}